body{
    text-align: center;
}

#inst{

   color: blue;
}

#9n{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#six{
    height:100px;
    width:200px;
    font-size: larger;
}
#one{
    height:100px;
    width:200px;
    font-size: larger;
}
#five{
    height:100px;
    width:200px;
    font-size: larger;
}
#seven{
    height:100px;
    width:200px;
    font-size: larger;
}
#eight{
    height:100px;
    width:200px;
    font-size: larger;
}
#two{
    height:100px;
    width:200px;
    font-size: larger;
}
#three{
    height:100px;
    width:200px;
    font-size: larger;
}
#four{
    height:100px;
    width:200px;
    font-size: larger;
}
#nine{
    height:100px;
    width:200px;
    font-size: larger;
}
#ten{
    height:100px;
    width:200px;
    font-size: larger;
}